<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container">
<h1>🎧 Top Nhạc Việt</h1>

<div class="grid">
<% items.forEach(item => { %>
<div class="card">
    <img src="<%= item.image %>" alt="">
    
    <h3><%= item.name %></h3>
    <p><%= item.artist %></p>
    <p><%= item.date %></p>

    <% if(item.hot){ %>
        <p class="hot">🔥 HOT</p>
    <% } %>

    <a class="btn" href="/detail/<%= item.id %>">Chi tiết</a>
</div>
<% }) %>
</div>

</div>

<%- include('layouts/footer') %>